@import './color.css';
.playlist {
	font-size: 18px;
	padding: 10px;
	width: 37vw;
	/*borde superior de panel control*/

	/*Playlist HOME*/
	.playlist_home {
		margin-bottom: 10px;
		font-weight: bold;
		padding: 5px 15px;
		border-radius: 8px;
		background-color: var(--bg-section);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		.playlist_home-init,
		.playlist_home-search {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 8px 0px;
		}
		.playlist_home-init > p,
		.playlist_home-search > p {
			margin-left: 12px;
		}
	}
	/*Playlist DATA*/
	.playlist_data {
		font-weight: bold;
		padding: 2px;
		border-radius: 8px;
		background-color: var(--bg-section);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		.playlist_data-header {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 8px 0px;
			.playlist_data-header_title {
				padding-left: 10px;
				width: 100%;
				display: flex;
				justify-content: start;
				align-items: center;
			}
		}
	}
}
